html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 100px;
}

.jumbotron {
    background: #337ab7;
    background-image: url("../images/home.png");
    background-size: cover;
    color: #ffffff;
}

.jumbotron hr {
    width: 300px;
}

.main.panel-body {
    height: 140px;
}

.row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f1f1f1;
  background-image: url("../images/business.png");
  background-size: cover;
  color: #ffffff;
  height: 100px;
  padding-top: 20px;
}

.no-top {
  margin-top: 0px;
}

img {
  width: 500px;
}

.dark-line {
  width: 150px;
  border-top: 4px solid #dddddd; 
  border-radius: 7px 7px 7px 7px;
}

.light-line {
  width: 150px;
  border-top: 4px solid #f1f1f1; 
  border-radius: 7px 7px 7px 7px;
}

.form-input-narrow {
  width: 25%;
}

.panel-heading.white {
  background-color: #ffffff;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.form-group {
  margin-top: 15px;
}